
components/tvGames/\.idea/

*.new

*.pyc

components/tvGamesAdmin/\.idea/

components/tvGames/src/modules/ui_AdminInterface\.py

components/tvGames/src/ui_AdminInterface\.py

components/tvGames/Makefile
