
components/tvGames/\.idea/

*.new

*.pyc

components/tvGamesAdmin/\.idea/

components/tvGames/src/modules/ui_AdminInterface\.py

components/tvGames/src/ui_AdminInterface\.py

components/tvGames/Makefile

components/tvGames/CMakeFiles/

components/tvGames/cmake_install\.cmake

components/tvGames/CMakeCache\.txt

components/integratedHand/\.idea/

components/integratedHand/build/

components/integratedHand/bin/

components/integratedHand/src/IntegratedHand_autogen/

components/integratedHand/src/CMakeFiles/

components/integratedHand/src/cmake_install\.cmake

components/integratedHand/src/CommonBehavior\.cpp

components/integratedHand/src/CommonBehavior\.h

components/integratedHand/src/HandDetection\.cpp

components/integratedHand/src/HandDetection\.h

components/integratedHand/src/Makefile

components/integratedHand/src/TouchPoints\.cpp

components/integratedHand/src/TouchPoints\.h

components/integratedHand/CMakeFiles/

components/integratedHand/cmake_install\.cmake

components/integratedHand/CMakeCache\.txt

components/integratedHand/Makefile

\.idea/

venv/

*.db

*.sql

*.db_
