
components/tvGames/\.idea/

*.new

*.pyc

components/tvGamesAdmin/\.idea/

components/tvGames/src/modules/ui_AdminInterface\.py

components/tvGames/src/ui_AdminInterface\.py

components/tvGames/Makefile

components/tvGames/CMakeFiles/

components/tvGames/cmake_install\.cmake

components/tvGames/CMakeCache\.txt

components/integratedHand/\.idea/

components/integratedHand/build/

components/integratedHand/bin/
