[Desktop Entry]
Name=EuroAge
Name[en_US]=Euroage
Type=Application
Terminal=true
Comment=Euroage project games
Icon=/home/robocomp/robocomp/components/euroage-tv/etc/rcmanager/icon.png
Path=/home/robocomp/robocomp/components/euroage-tv/tools/
Exec=/home/robocomp/robocomp/components/euroage-tv/tools/launcher
Categories=Game;
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
